In [1]:
txt = " abc def ghi "
txt.lstrip()

'abc def ghi '

In [2]:
txt = " abc def ghi "
txt.strip()

'abc def ghi'

In [6]:
#Using double quotes in the string is not allowed.
mystr = "My favourite TV Series is \"Game of Thrones\"" # using escape character "\"
mystr

'My favourite TV Series is "Game of Thrones"'

In [8]:
### List
list1 = []
print (type(list1))

<class 'list'>

In [9]:
list2 = [10,20,30]

In [10]:
list3 = [10,77,44,56,66]

In [12]:
# Farward Indexing 
list2[0]

10

In [15]:
list2[-1]

30

In [17]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [18]:
mylist[0:3]

['one', 'two', 'three']

In [24]:
mylist[2:5]

['three', 'four', 'five']

In [25]:
mylist[:3]

['one', 'two', 'three']

In [26]:
mylist[-3]

'six'

In [27]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [28]:
mylist[-2:]

['seven', 'eight']

In [30]:
mylist[:]

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [32]:
mylist.append('nine')
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'nine']

In [33]:
mylist.insert(9,'ten')

In [34]:
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'nine']

In [35]:
mylist.remove('nine')

In [36]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'ten', 'nine']

In [37]:
mylist.pop()
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'ten']

In [41]:
mylist.pop(7)
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [42]:
del mylist[6]

In [43]:
mylist

['one', 'two', 'three', 'four', 'five', 'six']

In [44]:
del mylist

In [45]:
mylist

NameError: name 'mylist' is not defined

In [47]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [48]:
mylist1 = mylist

In [49]:
id(mylist) , id(mylist1)

(4450417152, 4450417152)

In [50]:
mylist2 = mylist.copy()

In [51]:
mylist2

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [52]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']
list3 = list1 + list2 # Join two lists by '+' o
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [53]:
list1.extend(list2)

In [54]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [55]:
'one' in list1

True

In [56]:
'ten' in list1

False

In [57]:
if 'three' in list1: # Check if 'three' exist in the list
    print('Three is present in the list')
else:
    print('Three is not present in the list')

Three is present in the list

In [58]:
if 'eleven' in list1: # Check if 'three' exist in the list
     print('eleven is present in the list')
else:
     print('eleven is not present in the list')

eleven is not present in the list

In [59]:
list1.reverse()

In [60]:
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [61]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort() # Sort list in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [62]:
sorted(mylist3)

[2, 5, 9, 12, 34, 88, 99]

In [63]:
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [65]:
for i in list1:
    print(i)

eight
seven
six
five
four
three
two
one

In [66]:
for i in enumerate(list1):
    print(i)

(0, 'eight')
(1, 'seven')
(2, 'six')
(3, 'five')
(4, 'four')
(5, 'three')
(6, 'two')
(7, 'one')

In [67]:
# Tuple

tup1 = ()

In [68]:
tup2 = (10,30,10)

In [69]:
tup2[0]

10

In [72]:
tup2[-1]

10

In [82]:
# Tuple Slicing

mytuple = ('one', 'two', "three', 'four", 'five', 'six', 'seven' , 'eight')

In [74]:
mytuple[1:5]

('two', "three', 'four", 'five', 'six')

In [75]:
mytuple[-2:]

('seven', 'eight')

In [76]:
mytuple[:]

('one', 'two', "three', 'four", 'five', 'six', 'seven', 'eight')

In [77]:
del mytuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [78]:
mytuple[0]= 'ten'

TypeError: 'tuple' object does not support item assignment

In [81]:
del mytuple

In [83]:
mytuple

('one', 'two', "three', 'four", 'five', 'six', 'seven', 'eight')

In [85]:
for i in mytuple:
    print(type(i))
    print (i)

<class 'str'>
one
<class 'str'>
two
<class 'str'>
three', 'four
<class 'str'>
five
<class 'str'>
six
<class 'str'>
seven
<class 'str'>
eight

In [87]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, "three', 'four")
(3, 'five')
(4, 'six')
(5, 'seven')
(6, 'eight')

In [89]:
mytuple
'one' in mytuple

True

In [90]:
'ten' in mytuple

False

In [92]:
if 'eleven' in mytuple: # Check if 'eleven' exist in the list
  print( 'eleven is present in the tuple')
else:
 print ('eleven is not present in the tuple')

eleven is not present in the tuple

In [93]:
mytuple.index('one')

0

In [95]:
mytuple.index('two')

1

In [96]:
mytuple

('one', 'two', "three', 'four", 'five', 'six', 'seven', 'eight')

In [97]:
mytuple.index('eight')

6